/* Estilos específicos da página de projetos */

.project-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.project {
    background: var(--light-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.project-details {
    padding: 1rem;
    flex: 1;
}

.project-details h2 {
    margin-bottom: 0.5rem;
}

.project-details p {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.project-link {
    display: inline-block;
    background-color: var(--button-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #347ed3;
}

/* Chat Dialog */
.chat-dialog {
    display: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    max-width: 90%;
    background: var(--light-background);
    border: 1px solid var(--border-color);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-dialog-content {
    padding: 1rem;
}

.close-button {
    float: right;
    cursor: pointer;
}

.chat-messages {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.5rem;
    background: #fff;
    color: black;
}

.chat-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.chat-send-button {
    margin-top: 0.5rem;
    width: 100%;
    background: var(--button-color);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.chat-send-button:hover {
    background: #347ed3;
}