/* Estilos para a seção de filtros */
.filter-section {
    text-align: center;
    margin: 2rem 0;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.filters select,
.filters input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--light-background);
    color: white;
    outline: none;
}

.filters input {
    width: 200px;
}

/* Ajustes para a seção de perfis */
.profiles {
    margin-top: 2rem;
}